body {
  font-family: 'Raleway', sans-serif;
}

.text {
  color: #4357AD;
}

#second {
  color: purple;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
    background-color: #FCBCB8;
}
